*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.container{
    position:relative;
    width:400px;
    max-height:666px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color:black;
    box-shadow: 10px 10px 20px black;
    
    

}

.search-box{
    position:relative;
    width:100%;
    height:55px;
    
    display:flex;
    align-items: center;
}
.search-box i {
    position :absolute;
    left : 10px;
    font-size: 28px;
}

.search-box input{
    position: absolute;
    width: 100%;
    height:100%;
    background:transparent;
    border: 2px solid rgba(20, 20, 20, 0.811);
    outline:none;
    border-radius: 10px;
    font-size: 22px;
    color : black;
    box-shadow: (2px 2px 5px black);
    font-weight: 700;
    text-transform: uppercase;
    padding : 0 48px 0 42px;
    cursor: pointer;
}

.search-box input::placeholder {
    color:black;
    text-transform: capitalize;

}
.search-box button {
    position: absolute;
    right:0;
    width:40px;
    height:100%;
    background:transparent;
    border:none;
    outline:none;

    font-size:28px;
    color:black;
    padding:0 40px 0 5px;
    cursor: pointer;
}
.weather-box{
    text-align: center;
    margin: 20px;
    display: none;
    height:500px;
   
   
}


.weather-box img{
    width:60%;
}
.weather-box .temp {
    position :relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    

}
.weather-box .temp span{
    position: relative;
    font-size: 24px;
    margin-left: 4px;

}

.weather-box .description {
    font-size: 22px;
    font-weight:600;
    text-transform: capitalize;
}

.weather-details{
    position:absolute;
    bottom: 40px;
    right: 10px;
    width:100%;
    padding:0 20px;

    display:flex;

}

.weather-details .humidity,
.weather-details .wind{

    display:flex;
    align-items: center;
    width:50%;
    margin-top: 40px;;
}
.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
    
   
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
   
}

.weather-details i {
    font-size : 56px;
    margin-right: 10px;
}
.weather-details span {
    display :flex;
    font-size: 22px;
    font-weight:600;
}

.weather-details p {
    font-size: 14px;
    font-weight: 600;
}

.error{
    margin-top: 20px;
    
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:none;
   
   
}
.error h1{
    font-size: 20px;
    color:black;
    margin-block-end: 15px;
}

.error img{
    width:60%;
    
}




